body {
    font-family: Arial;
    background: #f4f4f4;
}

.form-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.radio-group {
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}